.navbar {
    display: flex;
    justify-content: center;
    gap: 30px;
    background-color: #1e293b;
    padding: 15px 20px;
}
.navbar a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    position: relative;
    transition: color 0.3s ease;
}

.navbar a:hover {
  color: #38bdf8; /* sky blue */
}

.navbar a::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #38bdf8;
    left: 0;
    bottom: -5px;
    transition: width 0.3s ease;
}

.navbar a:hover::after {
    width: 100%;
}